# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# SO / logs
.DS_Store
Thumbs.db
# Logs
*.log
logs/

# Outros
bin/
out/

# Banco local (H2 / outros)
*.mv.db
*.h2.db

# Arquivos temporários
*.tmp
